
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    display: flex; flex-direction: column; /*flex container*/
    height: 100vh;  /*flex container*/
}

body#about {
    background-image: url('/assets/img/greyscaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-class {
    background-color: #1e2a3e; 
    color: white;
    border: white;
}

.navbar-light {
    border: white;
    padding: 0%;
}

a.navbar-brand {
    color: #1e2a3e !important;
    font-size: 1.7rem;
    font-family: "Raleway", sans-serif;
    text-shadow: 1px 1px rgb(184, 180, 180);
    font-style: italic;
    font-weight: 700;
}

 /* pushes footer and navbar. centers content. */
  .flex-container {
    flex: 1 0 auto;
}

.jumbotron {
    max-width: 50rem;
    height: auto;
    animation: fadeup 1.75s 1;
    -webkit-animation: fadeup 1.75s 1; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;  /*kills it on the last frame*/
    animation-timing-function: ease;
    position: relative;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
}

h5 {
    font-style: italic;
}

.hello {
    font-family: "Roboto", sans-serif;
    margin-top: 150px;
    animation: fadeup 1.25s 1;
    -webkit-animation: fadeup 1.25s 1; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease;
    position: relative;
    animation-fill-mode: forwards;  /*kills it on the last frame*/
}

.portfolio, .contact {
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
    animation: fadeup 1.25s 1;
    -webkit-animation: fadeup 1.25s 1; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease;
    position: relative;
    animation-fill-mode: forwards;  /*kills it on the last frame*/
}

.previews, .reach-out {
    animation: fadeup 1.75s 1;
    -webkit-animation: fadeup 1.75s 1; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;  /*kills it on the last frame*/
    animation-timing-function: ease;
    position: relative;
}

.img-fluid {
    height: 300px;
    width: 350px;
    box-shadow: 5px 5px 3px grey;   
}

#home-links a {
    font-family: "Roboto", sans-serif;
    color: black;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    font-size: 1rem;
}

.active {
    text-decoration: underline;
}

.set-image-txt {
  position: relative;
  text-align: center;
}

.images {
    background-color: #1e2a3e; /*darkening effect*/
    width: auto;
    height: 300px;
}

/* hover -> dim out */
.images:hover > .darken {
    opacity: 0.3;
    transition: .3s all ease-in-out
}

.darken-txt {
    display: none;
}

.images:hover > .darken-txt {
    display: block;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

hr {
    border: 1px solid red;
}

footer {  
    background-color: #1e2a3e;
    margin-top: 20pt;
    flex-shrink: 0;
}

/* Standard Browsers */
@keyframes fadeup {
    0%  {top:200px;}
    100% {top:0px;}
    0% { opacity: 0;}
    50% {opacity: .65;}
    75% {opacity: .85;}
    100% {opacity: 1;}
  }
/*  Safari */
@-webkit-keyframes fadeup {
    0%  {top:200px;}
    100% {top:0px;}
    0% { opacity: 0;}
    50% {opacity: .65;}
    75% {opacity: .85;}
    100% {opacity: 1;}
}
/* IE and Edge */
@-ms-keyframes fadeup {
    0%  {top:200px;}
    100% {top:0px;}
    0% { opacity: 0;}
    50% {opacity: .65;}
    75% {opacity: .85;}
    100% {opacity: 1;}
}
/* Animated burger for collapsable navbar */
.animated-burger {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out; /*Safari*/
    -moz-transition: .5s ease-in-out;   /*Motzila*/
    -o-transition: .5s ease-in-out;    /*Opera*/
    -o-transition: .5s ease-in-out;    /*Opera*/
    transition: .5s ease-in-out;      /*Standard*/
    cursor: pointer;
    }

.animated-burger span {
    display: block;
    position: absolute;
    background: #1e2a3e;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);     /*Safari*/
    -moz-transform: rotate(0deg);       /*Motzila*/
    -o-transform: rotate(0deg);        /*Opera*/
    transform: rotate(0deg);          /*Standard*/
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
    
.animated-burger span:nth-child(1) {
    top: 0px;
}

.animated-burger span:nth-child(2) {
    top: 10px;
}

.animated-burger span:nth-child(3) {
    top: 20px;
}

.animated-burger.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-burger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-burger.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
